* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 350px;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
}

#preview {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    aspect-ratio: 1;
    object-fit: cover;
}

#inputFile {
    display: none;
}

#lblFile {
    background-color: dodgerblue;
    color:white;
    padding: 10px 30px;
    border-radius: 30px;
    transition: all ease 0.3s;
    cursor: pointer;

}
#lblFile:hover {
    scale:1.03;
    box-shadow: 0px 1px 3px 0px black;
    background-color: rgb(255, 183, 0);
    color: black;
}

